<nav>
		<ul>
			<li>
				<a href="http://localhost:8081">Accueil</a>
			</li>
			<li>
				<a href="/membres">Membres</a>
			</li>
			<li>
				<a href="/peupler">Peupler</a>
			</li>
			<li>
				<a href="/viderlaliste">Vider la liste</a>
			</li>
		</ul>
</nav>