<!DOCTYPE html>
<html lang="fr">
	<%- include('partials/head.ejs') %>
<body> 
	
	<%- include('partials/header.ejs') %>

	<div class="sectionTexte">
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum elit vitae egestas scelerisque. Quisque in sem arcu. Suspendisse molestie massa a eleifend vestibulum. Sed nec accumsan odio, at scelerisque lorem. Aenean malesuada finibus mi nec bibendum. Etiam quis risus porttitor metus congue tristique. Mauris congue metus sed placerat sodales.</p>

		<p>Suspendisse ante lectus, euismod quis imperdiet sed, egestas eget lacus. Nullam tempus semper ligula vel porttitor. Duis pretium velit pulvinar arcu auctor, nec lobortis orci sollicitudin. Nam scelerisque mi vel dui viverra, ac tincidunt quam maximus. Nulla eu diam interdum, commodo justo vitae, faucibus diam. Sed ut dignissim neque, sit amet congue purus. Quisque commodo feugiat massa, eu sagittis nisi rutrum eu. Aenean finibus odio et mi faucibus, non pretium risus mattis. Nulla et lacinia dui. Morbi tincidunt, metus ac tincidunt facilisis, nisl purus rutrum dolor, eget dictum nunc risus ut erat. In vitae tristique nisl, vestibulum ornare mauris.</p>
	</div>

	<%- include('partials/footer.ejs') %>

</body>
</html>