<!DOCTYPE html>
<html lang="fr">
<%- include('partials/head.ejs') %>
	<body> 
		<%- include('partials/header.ejs') %>
			<section class="sectionTexte">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur, mi a auctor hendrerit, turpis lectus interdum nisl, non porttitor tellus nisl et turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis eros nunc, volutpat nec ligula non, placerat varius velit. Nullam pulvinar turpis non est volutpat porttitor id sit amet ante. Phasellus id mollis lacus. Proin tristique risus dolor, at tincidunt ex egestas et. Ut scelerisque hendrerit dolor sit amet efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id dui lorem. Ut imperdiet dolor quam, in sollicitudin mi semper in. Sed non enim ac diam placerat congue. Proin vestibulum massa tempor urna tristique, sit amet ultrices lectus scelerisque. Maecenas elementum velit felis, eget efficitur mauris bibendum non. Mauris viverra quam elit, a semper ante dictum sed. Curabitur mattis justo erat, nec laoreet urna tincidunt eu. Donec sit amet vehicula tortor, sed scelerisque nisi.</p>
				<br>
				<p>Nam dui velit, congue ut justo elementum, hendrerit feugiat arcu. Aliquam varius quis velit quis cursus. Nunc blandit venenatis sagittis. Donec rhoncus pellentesque semper. Vivamus pellentesque euismod lacus scelerisque pharetra. Nunc nec enim porttitor, egestas elit finibus, maximus dui. Praesent interdum ante nec leo ultricies, in facilisis nulla tincidunt. Sed a dolor et elit sollicitudin maximus. Morbi fringilla nisl ut rhoncus pretium. Fusce dignissim sem eu purus fringilla, sed placerat dolor facilisis.</p>	
			</section>	
		<%- include('partials/footer.ejs') %>
	</body>
</html>