/* Général */
body {
  font-family: Tahoma, Geneva, sans-serif;
}
header,
footer {
  font-family: Georgia, serif;
}
h1 {
  text-align: center;
}
ul {
  font-family: "Arial Black", Gadget, sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 130%;
}
li {
  display: inline;
}
nav li a {
  display: inline-block;
}
footer {
  text-align: center;
}
/* Page accueil */
.sectionTexte {
  text-align: center;
  display: flex;
  flex-direction: column;
}
/* Page Membres */
th,
td {
  border: 1px black solid;
  padding: 5px;
}
.bodyMembres {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.tableauMembres {
  margin: 0 auto;
  text-align: center;
}
.tableauMembreSeul {
  margin: 0 auto;
}
