/* Général */
	body {
		font-family: Tahoma, Geneva, sans-serif;
		background-color: #9bc1ff;
	}

	header, footer {
		font-family: Georgia, serif;
		padding: 15px;
		background-color: #0e3e8c;
		color: white;
	}

	header a {
		color: #dbe8ff;
		text-decoration: none;
	}

	header a:hover {
		text-decoration: underline;
	}

	h1 {
		text-align: center;
	}

	ul {
		font-family: "Arial Black", Gadget, sans-serif;
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		font-size: 130%;
	}

	li {
		display: inline;
	}

	nav li a {
		display: inline-block;
	}

	footer {
		text-align: center;
	}

/* Page accueil */

	.sectionTexte {
		text-align: center;
		display: flex;
		flex-direction: column;
	}

/* Page Membres */

	th, td {
		border: 1px black solid;
		padding: 5px;
		background-color: #2678ff;
	}

	.bodyMembres {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.tableauMembres {
		margin: 0 auto;
		text-align: center;
	}

	.tableauMembres a {
		color: black;
		text-decoration: none;
	}

	.tableauMembres a:hover {
		color: white;
		text-decoration: underline;
	}

	.tableauMembreSeul {
		margin: 0 auto;
	}







