h1 {
	text-align: center;
}

nav {
	margin: 0 auto;
	text-align: center;
}

.sectionTexte {
	text-align: center;
	margin: 0 auto;
	width: 75%;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
}

nav li a {
	display: inline-block;
}

th, td {
	border: 1px black solid;
	padding: 5px;
}

footer {
	text-align: center;
}
